<div class="trainer-detail-page">
  <div>
    <a routerLink=''>К списку тренеров</a>
  </div>
  <div class="trainer-name">
    Тренер <button class="trainer-name-button-edit" title="Изменить ФИО тренера"
                                          [hidden]="focusName"
                                          (click)="addFocusName()"
    >{{trainerName}}
    </button>
      <div *ngIf="focusName" class="input-data-trainer">
        <input autofocus type="text" #inputName
               autocomplete="off"
               [value]="trainerName"
               (blur)="editTrainerName(id, $event.target.value)"
        />
      </div>
  </div>

  <div>
    Рабочий период с
    <input name="startDate" id="start" type="date" [max]="endDate | date: 'yyyy-MM-dd'" [ngModel]="startDate | date: 'yyyy-MM-dd'" (ngModelChange)="setStartDate($event)"/>
    по
    <input name="endDate" type="date" [min]="startDate | date: 'yyyy-MM-dd'" [ngModel]="endDate | date: 'yyyy-MM-dd'" (ngModelChange)="setEndDate($event)"/>
  </div>
  <div>
    <p>Заработок тренера: {{sum.toFixed(2)}} руб.&#8399;</p>
    <div class="trainer-price">Ставка в час: <button class="session-price-value" title="Изменить ставку тренера"
            [hidden]="focusPrice"
            (click)="addFocusPrice()"
    >{{tempPrice}}
    </button>
    <div *ngIf="focusPrice" class="input-data-trainer">
      <input autofocus type="number" min="0" #inputPrice
             autocomplete="off" (focus)="clearInput()"
             [value]="tempPrice"
             (blur)="addPrice($event.target.value, id)"
             pattern="[0-9]"
      />
    </div>
    </div>
  </div>
  <div>
    <table>
      <thead>
      <tr>
        <th>Проведенные тренировки</th>
        <th>Дата</th>
        <th>Время</th>
        <th>Продолжительность, мин</th>
        <th>Посещаемость, человек</th>
        <th>Стоимость, рублей</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let session of trainerSessions">
        <td>{{session.name}}</td>
        <td>{{session.date | date: 'dd-MM-yyyy'}}</td>
        <td>{{session.date | date: 'HH:mm'}}</td>
        <td>{{session.trainingTime}}</td>
        <td>{{session.numberOfVisits}}</td>
        <td class="session-price">
<!--          <input type="number" min="0" #inputPrice-->
<!--                 autocomplete="off"-->
<!--                 [value]="session.altPrice ? session.altPrice : price * session.trainingTime / 60"-->
<!--                 [id]="session.id"-->
<!--                 (blur)="addAltPrice($event.target.id, session.date, $event.target.value, id)"-->
<!--                 pattern="[0-9]"-->
<!--          />-->
          <button class="session-price-value" title="Изменить стоимость тренировки"
                  [hidden]="focusAltPrice && idSession == session.id && dateSession == session.date"
                  (click)="addFocusAltPrice(session.id, session.date)"
          >{{session.altPrice ? session.altPrice : (price * session.trainingTime / 60).toFixed(2)}}
          </button>
          <div *ngIf="focusAltPrice && session.id == idSession && session.date == dateSession" class="input-price">
            <input autofocus type="number" min="0" #inputAltPrice
                   autocomplete="off"
                   [value]="session.altPrice ? session.altPrice: (price * session.trainingTime / 60).toFixed(2)"
                   [id]="session.id"
                   (blur)="addAltPrice($event.target.id, session.date, $event.target.value, id)"
                   pattern="[0-9]"
            />
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
