$colorBorder: #f7f7f7;
$colorText: #61616d;
$colorHeaderBorderText: #000000;
$colorHeaderBorder: #d0d0d0;

* {
  font: {
    family: 'Comfortaa', cursive;
    size: 18px;
  }
  &:focus {
    outline: none !important
  }
}

a {
  color: $colorText;
  &:visited {
    color: $colorText;
  }
}



table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;

  td {
    padding: 10px 8px;
    border-bottom: 3px solid $colorBorder;
    height: 40px;

    &.session-price {
      width: 15%;
      min-width: 200px;
    }

    &.result {
      text-align: right;
    }
  }

  th {
    color: $colorHeaderBorderText;
    padding: 10px 8px;
    border-bottom: 3px solid $colorHeaderBorder;
  }
}

.trainer-name, .trainer-price {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  & input {
    text-align: right;
    margin-left: 4px;
    padding-right: 25px;
    border: none;
    background: url("../../assets/pen.png") no-repeat right 5px center;
    background-size: 15px;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      background: none;
      border: 1px solid black;
      border-radius: 2px;
      cursor: auto;
    }
    &:invalid {
      border: 2px solid #e60000;
      border-radius: 4px;
    }
  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.trainer-detail-page {
  width: 100%;
}

.trainer-detail-page > div {
  width: 100%;
}

.session-price-value {
  height: 40px;
  width: 120px;
  border: none;
  padding: 0;
  background: url("../../assets/pen.png") no-repeat right 10px center;
  background-size: 15px;
}

.trainer-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.trainer-name-button-edit {
  height: 40px;
  width: auto;
  border: none;
  padding: 0 30px 0 8px;
  margin: 0;
  text-align: left;

  background: url("../../assets/pen.png") no-repeat right 10px center;
  background-size: 15px;
}

.session-price-value:hover, .trainer-name-button-edit:hover {
  cursor: pointer;
}

.input-data-trainer {
  width: 20%;
  padding: 0;
  margin: 0 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.trainer-price {
  input {
    width: 100px;
  }
  button {
    text-align: left;
    width: auto;
    padding: 0 30px 0 6px;
  }

}

.input-price {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.input-price input {
  width: 100px;
  height: auto;
  margin-right: 4px;
  border: 1px solid black;
  border-radius: 2px;
}
.input-price input:invalid {
  border: 2px solid #e60000;
  border-radius: 4px;
}

input:invalid {
  border: 2px solid #e60000;
  border-radius: 4px;
}

