<div class="trainer-detail-page">
  <div>
    <a routerLink=''>К списку тренеров</a>
  </div>
  <div class="trainer-name">
    Тренер
    <input title="Изменить ФИО тренера"
           [disabled]="loadDataFlag"
           [(ngModel)]="trainerName"
           type="text"
           [style.width]="widthName"
           pattern="^[A-Za-zА-Яа-яЁё\s\-]+$"
           name="inputTrainerName"
           autocomplete="off"
           maxlength="70"
           (keydown.enter)="$event.target.blur()"
           (change)="editTrainerName(id, $event.target.value)"
    />
  </div>

  <div>
    Рабочий период с
    <input name="startDate"
           id="start"
           type="date"
           min="2000-01-01"
           [disabled]="loadDataFlag"
           [max]="endDate | date: 'yyyy-MM-dd'"
           [ngModel]="startDate | date: 'yyyy-MM-dd'"
           (ngModelChange)="setStartDate($event)"
    />
    по
    <input name="endDate"
           type="date"
           [disabled]="loadDataFlag"
           [max]="dateNow | date: 'yyyy-MM-dd'"
           [min]="startDate | date: 'yyyy-MM-dd'"
           [ngModel]="endDate | date: 'yyyy-MM-dd'"
           (ngModelChange)="setEndDate($event)"
    />
  </div>
  <div>
    <p>
      Заработок тренера: {{sum.toFixed(2)}} руб.&#8399;
    </p>
    <div class="trainer-price">
      Ставка в час:
      <input type="number" min="0" #inputPrice
             [disabled]="loadDataFlag"
             [style.width]="widthPrice"

             autocomplete="off" max="10000" step="any"
             [value]="price.toFixed(2)"
             (keydown.enter)="$event.target.blur()"
             (blur)="addPrice($event.target.value, id)"
      />
    </div>
  </div>
  <div>
    <table>
      <thead>
      <tr>
        <th>Проведенные тренировки</th>
        <th>Дата</th>
        <th>Время</th>
        <th>Продолжительность, мин</th>
        <th>Посещаемость, человек</th>
        <th>Стоимость, рублей</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="noDataFlag">
        <td colspan="6">
          Отсутствуют данные за выбранный период
        </td>
      </tr>
      <tr *ngFor="let session of trainerSessions">
        <td>{{session.name}}</td>
        <td>{{session.date | date: 'dd-MM-yyyy'}}</td>
        <td>{{session.date | date: 'HH:mm'}}</td>
        <td>{{session.trainingTime}}</td>
        <td>{{session.numberOfVisits}}</td>
        <td class="session-price">
          <button class="session-price-value" title="Изменить стоимость тренировки"
                  [hidden]="focusAltPrice && idSession == session.id && dateSession == session.date"
                  (click)="addFocusAltPrice(session.id, session.date)"
          >{{session.altPrice ? session.altPrice.toFixed(2) : (price * session.trainingTime / 60).toFixed(2)}}
          </button>
          <div *ngIf="focusAltPrice && session.id == idSession && session.date == dateSession" class="input-price">
            <input autofocus type="number" step="any" min="0" #inputAltPrice
                   autocomplete="off" max="10000"
                   [value]="session.altPrice ? session.altPrice.toFixed(2) : ((price * session.trainingTime / 60).toFixed(2))"
                   [id]="session.id"
                   (keydown.enter)="$event.target.blur()"
                   (blur)="addAltPrice($event.target.id, session.date, $event.target.value, id)"
            />
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
